[Unit]
Description=My CSYE6225 Web application
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/admin/WebApp
ExecStart=/usr/local/bin/node /home/admin/WebApp/app.js
EnvironmentFile=/home/admin/WebApp/.env
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=cloud-init.target
